<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="A">A:</label>
        <input type="text" id="A" name="A" placeholder="Enter A value">
    </div>

    <div class="form-group">
        <label for="B">B:</label>
        <input type="text" id="B" name="B" placeholder="Enter B value">
    </div>

    <div class="form-group">  
        <label for="C">C:</label>
        <input type="text" id="C" name="C" placeholder="Enter C value">
    </div>
    
    <div class="form-group">
        <label for="D">D:</label>
        <input type="text" id="D" name="D" placeholder="Enter D value ">
    </div>
  
    <div class="form-group">
        <label for="E">E:</label>
        <input type="text" id="E" name="E" placeholder="Enter E value">
    </div>
  
    <div class="form-group">
        <label for="F">F:</label>
        <input type="text" id="F" name="F" placeholder="Enter F value">
    </div> 
    
    <div class="form-group">
      <label for="G">G:</label>
      <input type="text" id="G" name="G" placeholder="Enter G value">
    </div>  

    <div class="form-group">
      <label for="H">H:</label>
      <input type="text" id="H" name="H" placeholder="Enter H value">
    </div>

    <div class="form-group">
      <label for="I">I:</label>
      <input type="text" id="I" name="I" placeholder="Enter I value">
    </div>

    <div class="form-group">
      <label for="J">J:</label>
      <input type="text" id="J" name="J" placeholder="Enter J value">
    </div>

    <div class="form-group">
      <label for="K">K:</label>
      <input type="text" id="K" name="K" placeholder="Enter K value ">
    </div>

    <div class="form-group">
      <label for="L">L:</label>
      <input type="text" id="L" name="L" placeholder="Enter L value">
    </div>

    <div class="form-group">
        <label for="M">M:</label>
        <input type="text" id="M" name="M" placeholder="Enter M value">
    </div>
   
    <div class="form-group">
        <label for="N">N:</label>
        <input type="text" id="N" name="N" placeholder="Enter N value">
    </div>

    <div class="form-group">
        <label for="O">O:</label>
        <input type="text" id="O" name="O" placeholder="Enter O value">
    </div>

  

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>